{% extends 'admin/article/base.html' %}

{% block title %}admin article add{% endblock %}

{% block main %}
<div id="article_add">
    title: <input id="title"/><br/>

    content: <textarea id="content"></textarea><br/>
    <!--author: <input id="author"/><br/>-->
    author: <select id="user_id">
    <!--<option value="0">草稿</option>-->
    <!--<option value="1">发布</option>-->
</select><br/>
    category: <input id="category"/><br/>
    tags: <input id="tags"><br/>
    status: <select id="status">
    <option value="0">草稿</option>
    <option value="1">发布</option>
</select><br/>
    <button id="article_add_btn">add article</button>
</div>

{% endblock %}
