{% extends 'base/base.html' %}

{% block head %}
<title>admin base</title>
{% endblock %}

{% block body %}

{% block top %}
<ul>
    <li><a href="{{ url_for('admin_controller.index') }}">Admin</a></li>
    <li><a href="{{ url_for('admin_controller.user_list') }}">Users</a></li>
    <li><a href="{{ url_for('admin_controller.article_list') }}">Articles</a></li>
</ul>
{% endblock %}

{% block sidebar %}
admin base sidebar
{% endblock %}

{% block main %}
admin base main
{% endblock %}

{% endblock %}
