{% extends 'base.html' %}

{% block head_script %}
<script type="text/javascript" src="{{ url_for('static', filename = 'app/dist/bundle.js') }}"></script>
{% endblock %}

{% block title %}home{% endblock %}

{% block body %}

{% block menubar %}
<ul>
    <li><a href="{{ url_for('home_controller.index') }}">Home</a></li>

    <li><a href="{{ url_for('article_controller.index') }}">Article</a></li>
    <li><a href="{{ url_for('joke_controller.index') }}">Joke</a></li>

    <li><a href="{{ url_for('home_controller.about') }}">About</a></li>
    <li><a href="{{ url_for('home_controller.contact') }}">Contact</a></li>
    <li>Other wait time..</li>
</ul>
{% endblock %}

{% block main %}
home base main
{% endblock %}

{% endblock %}
