{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename = 'app/dist/bundle.js') }}"></script>
{% endblock %}

{% block title %}home{% endblock %}

{% block body %}

{% block menubar %}
<ul>
    <li><a href="{{ url_for('home_controller.index') }}">Home</a></li>
    {% for category in categories %}
    <li><a href="{{ url_for('article_controller.category', category=category.title) }}">{{ category.title }}</a></li>
    {% endfor %}
    <li><a href="{{ url_for('home_controller.about') }}">About</a></li>
    <li><a href="{{ url_for('home_controller.contact') }}">Contact</a></li>
</ul>
{% endblock %}


{% block sidebar %}
home base sidebar
{% endblock %}

{% block main %}
home base main
{% endblock %}

{% endblock %}
